*
!Dockerfile
!Dockerfile.gateway
!Dockerfile.web
!package.json
!pnpm-lock.yaml
!pnpm-workspace.yaml
!tsconfig.base.json
!packages/
!packages/**
!apps/
!apps/**
**/node_modules
**/.next
**/.next-*
**/.turbo
**/.env*
**/*.log
**/*.tsbuildinfo
**/scripts
**/test*
**/tests
**/dist
